<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/account.css">
<%if(userInfo){%>
<header>
<div class="header-loggedin">
    <img id="logo" src="/img/logo2.png">
    <nav class="sitelinks">
        <a href="/">Home</a>
        <a href="/search">Search</a>
    </nav>
    <nav class="signin">
        <ul>
            <li>
                <a href="/account">Hello, <%= userInfo %></a>
            <ul>
                <li><a href="/account">My Account</li></a>
                <li><a href="/favourites">Favourites</li></a>
                <li><a href="/logout">Logout</li></a>
            </ul>
            </li>
        </ul>
    </nav>
</div>
<%}else{%>
    <%- include('includes/nav')%>
<%}%>
</header>

<main>
    <h2>My Account</h2>
    <div class="account-container">
        <a href="/user-info">
            <section>
                <i class="fa-solid fa-user"></i>
                <article>
                    <h4 class="font-weight-bold">My Information</h4>
                    <p>View, Edit Information</p>
                </article>
            </section>
        </a>
        <a href="/favourites">
            <section>
                <i class="fa-solid fa-star"></i>
                <article>
                    <h4 class="font-weight-bold">Favourite Recipes</h4>
                    <p>View, edit your favourite recipes</p>
                </article>
            </section>
        </a>
    </div>
    <!-- login message -->
<%
if(typeof(login_msg) != 'undefined'){
  %>
  <br><br><div class="alert alert-success" role="alert"> <%= login_msg %> </div>  
  <%
}
%>
    
</main>
<%- include('includes/footer') %>