<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/home.css">
<%- include('includes/nav') %>

<main class="home">
    <section class="hero">
        <div class="inner">
            <p id="large-text">Healthy recipes at your fingertips</p>
            <a href="/search"><button>Try Now</button></a>
        </div>
        
        <img id="hero-img" src="img/hero3.png">
    </section>
    <section class="suggested-recipes">
        <h3>Try these tasty recipes</h3>
        <div class="generated">
            <!--generated recipes go here-->
            
            <%// pageData.forEach(item => { %>
                <div class="recipe">
                    <!--onclick="toggleFavourites(pageData.id)""-->
                    <i class="fa-solid fa-star" id="thing" onclick="toggleFavourites()"></i>
                    <img src="<%= recipe_image %>" alt="food" />
                    <div class="recipe-info">
                        <h4><%= recipe_title %></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam
                        </p>
                    </div>
                </div>
            <%// }); %>
        </div> 
    </section>
</main>

<%- include('includes/footer') %>