<%- include('includes/header') %>
<%- include('includes/nav') %>

<h1> Hello </h1>

<!-- only for testing -->
<p> 
    <%= recipe_title %> <br>
    <img src="<%= recipe_image %>" alt="food" />
</p>

<%- include('includes/footer') %>