<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/search.css">
<%if(userInfo){%>
    <header>
    <div class="header-loggedin">
        <img id="logo" src="/img/logo2.png">
        <nav class="sitelinks">
            <a href="/">Home</a>
            <a href="/search">Search</a>
        </nav>
        <nav class="signin">
            <ul>
                <li>
                    <a href="/account">Hello, <%= userInfo %></a>
                <ul>
                    <li><a href="/account">My Account</li></a>
                    <li><a href="/favourites">Favourites</li></a>
                    <li><a href="/logout">Logout</li></a>
                </ul>
                </li>
            </ul>
        </nav>
    </div>
<%}else{%>
    <%- include('includes/nav')%>
<%}%>
<main>
    <section class="searchBar">
        <h1>Search Recipes</h1>
        <p>Search to your heart's content!</p>
        <form action="/search_result">
            <div>
                <button type="button" class="filter" onclick="toggleFilter()"><i class="fa-solid fa-filter"></i> Filter</button>
                <input class="searchInput" name="search" type="text" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            
            <div id="filter-form">
                <h4 class="">Filters</h4>
                <div class="d-flex flex-column">
                    <div class="p-2">
                        <label class="font-weight-bold">Sodium Level</label>
                        <output name="sodium">0 mg</output>
                        <input oninput="this.previousElementSibling.value = this.value+' mg'" id="sodium" type="range" min="1" max="100" value="0">
                    </div>
                    <div class="p-2">
                        <label class="font-weight-bold">Carbohydrate Level</label>
                        <output name="carbs">0 g</output>
                        <input oninput="this.previousElementSibling.value = this.value +' g'" id="carbs" type="range" min="1" max="100" value="0">
                    </div>
                    <div class="p-2">
                        <label class="font-weight-bold">Sugar Level</label>
                        <output name="sugar">0 g</output>
                        <input oninput="this.previousElementSibling.value = this.value +' g'" id="sugar" type="range" min="1" max="100" value="0">
                    </div>
                  </div>
            </div>
        </form>
    </section> <br> <br>
    
    <!--generated results go here-->
    <div class="container">
            <div class="row">
              <div class="col">
                <div class="recipe">
                    <a href="/detail">
                    <i class="fa-solid fa-star" onclick=""></i>
                    <%
                    if(typeof(recipes) != 'undefined'){
                    %>
                    <img src="<%= recipes[0].image %>">
                    <div class="recipe-info">
                        <h2><%= recipes[0].title %></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam
                        </p>
                    </div>
                    <%
                    } else {
                    %>
                    <img src="img/hero.jpg">
                    <div class="recipe-info">
                        <h2> Yummy Recipe </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam
                        </p>
                    </div>
                    </a>
                    <% 
                    }
                    %>
                </div>
              </div>
              <div class="col">
                <div class="recipe">
                    <a href="/detail">
                    <i class="fa-solid fa-star" onclick=""></i>
                    <%
                    if(typeof(recipes) != 'undefined'){
                    %>
                    <img src="<%= recipes[1].image %>">
                    <div class="recipe-info">
                        <h2><%= recipes[1].title %></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam
                        </p>
                    </div>
                    <%
                    } else {
                    %>
                    <img src="img/hero.jpg">
                    <div class="recipe-info">
                        <h2> Yummy Recipe </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam
                        </p>
                    </div>
                    </a>
                    <% 
                    }
                    %>
                </div>
              </div>
              <div class="col">
                <div class="recipe">
                    <a href="/detail">
                    <i class="fa-solid fa-star" onclick=""></i>
                    <%
                    if(typeof(recipes) != 'undefined'){
                    %>
                    <img src="<%= recipes[2].image %>">
                    <div class="recipe-info">
                        <h2><%= recipes[2].title %></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam
                        </p>
                    </div>
                    <%
                    } else {
                    %>
                    <img src="img/hero.jpg">
                    <div class="recipe-info">
                        <h2> Yummy Recipe </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                            veniam
                        </p>
                    </div>
                    </a>
                    <% 
                    }
                    %>
                </div>
              </div>
            </div>
    </section>
</main>
<%- include('includes/footer') %>